@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #f8f8f8;
  @apply bg-fs-green;
}



p {
  margin: 8px 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252525;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
nav{
 @apply bg-fs-red;
}
 .vanaj-logo-txt {
  @apply text-fs-grey;
}

.get-started-txt {
  @apply text-white;

  
}
.get-started-btn {
  @apply bg-fs-red hover:bg-fs-dark-red;

  
}
.hero-header {
  color: black;

}

.hero-content {
  @apply text-fs-brown;

}

.vanaj-name-txt{
  @apply text-white;
}
.chat-message-vanaj-color{
  @apply bg-white text-black;
}
.chat-message-user-color{
  @apply bg-fs-red text-white;
}
.send-btn{
  @apply bg-fs-red hover:bg-fs-dark-red;
}

.text-area-chat{
  @apply bg-white text-black placeholder-fs-grey focus:outline-none rounded-lg ;


}
.text-area-container{
  @apply bg-fs-red p-2 lg:rounded-t-xl;
}
.status-txt{
@apply text-fs-grey;
}
.chat-window{
  @apply bg-fs-green rounded-xl;

}

@layer base {
  @media (min-width: 0px) {
    .hero-header {
      @apply text-4xl;
  
    }
  
    .hero-content {
      @apply text-base;
  
    }
  
    .get-started-txt {
      @apply text-sm;
  
    }
  
    .vanaj-logo-txt {
      @apply text-xl;
    }
  
    .navbar-container-height {
      @apply h-12 ;
    }
    .vanaj-name-txt{
      @apply text-sm;
    }
    .chat-message-txt{
      @apply text-sm;
    }
    .text-area-chat{
      @apply text-sm p-2 pr-16;

    }
    .status-txt{
      font-size: 0.6rem;
      line-height: 0.75rem;;
    }
    
    .image-profile-size{
      @apply w-8 h-8;
    }
    .status-profile-size{
      @apply w-2 h-2;
      @apply bottom-0 right-2;
    }

    .image-chat-size{
      @apply w-7 h-7;
    }
    .status-chat-size{
      @apply w-0.5 h-0.5;
      @apply bottom-0 right-2;
    }

    .send-btn{
      @apply w-7 h-7 pl-1.5 bottom-1 right-1;
    }

    .send-icon{
      @apply w-4 h-4;
    }



  }


  @media screen(md) {
    .hero-header {
      @apply text-5xl;
      
    }

    .hero-content {
      @apply text-lg;

    }

    .get-started-txt {
      @apply text-base;

    }

    .vanaj-logo-txt {
      @apply text-2xl;
    }
    

    .navbar-container-height{
      @apply h-14;
    }

    .vanaj-name-txt{
      @apply text-base;
    }
    .chat-message-txt{
      @apply text-base;
    }
    .text-area-chat{
      @apply text-base p-4 pr-16;
    }
    .status-txt{
      font-size: 0.7rem;
      line-height: 0.75rem;;
    }
    .image-profile-size{
      @apply w-9 h-9;
    }
    .status-profile-size{
      @apply w-3 h-3;
      @apply bottom-0 right-2;
    }
    .image-chat-size{
      @apply w-8 h-8;
    }
    .status-chat-size{
      @apply w-2.5 h-2.5;
      @apply bottom-0 right-2;
    }
    .send-btn{
      @apply w-10 h-10 p-2 bottom-2 right-2;
    }
    .send-icon{
      @apply w-6 h-6 ;
    }
  }


  @media screen(xl) {
    .hero-header {
      @apply text-6xl;

    }

    .hero-content {
      @apply text-xl;

    }

    .get-started-txt {
      @apply text-lg;

    }

    .vanaj-logo-txt {
      @apply text-3xl;
    }

    .navbar-container-height{
      @apply h-16;
    }
    .vanaj-name-txt{
      @apply text-lg;
    }
    .chat-message-txt{
      @apply text-lg;
    }
    .text-area-chat{
      @apply text-lg;
    }
    .status-txt{
      @apply text-xs
    }
    .image-profile-size{
      @apply w-10 h-10;
    }
    .status-profile-size{
      @apply w-3.5 h-3.5;
      @apply bottom-0 right-2;
    }
    .image-chat-size{
      @apply w-9 h-9;
    }
    .status-chat-size{
      @apply w-3 h-3;
      @apply bottom-0 right-2;
    }
  }

  /* text-5xl md:text-6xl xl:text-7xl  */
}




/* Breakpoint prefix	Minimum width	CSS
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... } */